<!-- about.html-->

{% extends "base.html" %} {% block title %}About{% endblock %} {% block body %}

<!DOCTYPE html>
<html>

<body>

  <h1>The About Page</h1>
  <p class="lead">You can learn more about my website here.</p>
  <hr> </hr>

  <div class="panel">
    <h2> Summary </h2>
    <p align="justify"> The objective of this fellowship is to set up a rooftop personal weather station on the CUNY Advanced Science Research
      Center building. The intent of this project is to collect local weather data and compare it to data-sets from other
      stations across New York City such as those at Central Park, JFK, and LaGuardia. The unit being used is Davis Vantage
      Pro2+ personal weather station. The information collected from this weather station will provide useful data such as
      frequent updates of rainfall quantities, barometric air pressure, wind direction, wind speed, UV radiation and solar
      radiation, and forecasted weather for the next 12 hours. This data will be compared with data from other weather stations
      across New York City to aid in the analysis of urban heat island locations, flooding and drainage requirements due
      to precipitation, and to visualize weather patterns across Metropolitan area of New York City. The data from the Vantage
      Pro2 will be primarily be used to facilitate student research at the ASRC. The collected data also has potential to
      be used by other scientists and engineers for industry related use as it will be uploaded to platforms such as WeatherLink
      and Weather Underground where it is accessible to the public. This weather station is a prototype for a larger network
      of personal weather stations which will be deployed throughout other locations in New York City. After initial setup,
      the Vantage Pro2 will need to be maintained regularly through once a week inspections of hardware failure due to exposure
      to the elements. This includes maintenance of the anemometer, rain collector cups, and ensuring the unit is clear of
      debris and grime. Weekly checks to ensure that data is continuously collected and stored securely. These steps will
      facilitate future research which has potential be used for projects which can aid in city planning to accommodate the
      everchanging weather and climate.
    </p>
  </div>

  <div class="panel">
    <h2> CUNY ASRC </h2>
    <img class="border" src="../static/Images/CUNY-ASRC.jpg" width='200' alt="CUNY ASRC" align="left">
    <p align="justify"> Summary of ASRC
      <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="panel">
    <h2> Davis Vantage Pro2+ </h2>
    <img class="border" src="../static/Images/WS_png.png" width='200' alt="Davis Vantage Pro2+" align="left">
    <p align="justify"> Summary of Weather Station
      <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="panel">
    <h2> Bernice Rozensweig </h2>
    <img class="border" src="../static/Images/Girl.png" width='200' alt="Picture Place Holder" align="left">
    <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="panel">
    <h2> Daniel Vignoles </h2>
    <img class="border2" src="../static/Images/Man.png" width='100' alt="Man Place Holder" align="left">
    <p> Summary of Daniel
      <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="panel">
    <h2> Shivron Sugrim </h2>
    <img class="border2" src="../static/Images/Queens Ninja.png" width='100' alt="Ninja From Queens" align="left">
    <p> Mechanical Engineering student interested about mankind's effect on climate change and how technology can be used to
      reduce our carbon footprint.</p>
  </div>

</body>

</html>
{% endblock %}