<!-- about.html-->

{% extends "base.html" %} {% block title %}About{% endblock %} {% block body %}

<!DOCTYPE html>
<html>

<body>



  <div class="row">
      <div class="col-md-12">
           <h1>About the ASRC Weather Station</h1>
    <p class="lead"> This website uses data from the CUNY ASRC rooftop weather station. The intent of this project is to collect local weather data and compare it to data-sets from other stations across New York City (Central Park, JFK, LaGuardia, and Wall Street).
    </p>
      </div>

  </div>

<br><br>
  <div class="row">

      <div class="col-md-2">
          <img class="img-thumbnail" src="../static/Images/CUNY-ASRC.jpg" width='200' alt="CUNY ASRC" align="left" style="width:200px;height:200px;">
      </div>

      <div class="col-md-10">
          <h3> CUNY ASRC </h3>
              <p>The City University of New York’s Advanced Science Research Center hosts several research initiatives including: Nanoscience, photonics, structural biology, neuroscience, and the environmental sciences. The ASRC building is located on the City College of New York’s south campus in uptown Manhattan attracting talented and distinguished researchers from across CUNY campuses. Within the ASRC, collaboration between disciplines are highly encouraged as the building is designed with a large central stair-way to increase collaboration and partnerships between labs. The ASRC features a nanofabrication facility, nuclear magnetic resonance spectrometers, data analytic centers, a rooftop observatory and now a rooftop personal weather station.
    </p>

      </div>

  </div>

   <br><br>

  <div class="row">
      <div class="col-md-2"><img class="img-thumbnail" src="../static/Images/WS_png.png" alt="Davis Vantage Pro2+" align="left" style="width:200px;height:200px;"></div>
    <div class="col-md-10">
            <h3> Davis Vantage Pro2+ </h3>
        <p> This personal weather station. The information collected from this weather station will provide useful data such as hourly updates of rainfall quantities, barometric air pressure, wind direction, wind speed, UV radiation and solar radiation, and forecasted weather for the next 12 hours. The instruments include: pyranometer, radiometer, anemometer and wind vane, Temperature and humidity sensor, and a rain collector unit.

    </div>
    </p>
  </div>

   <br><br>

  <div class="row">
      <div class="col-md-2"><img class="img-thumbnail" src="../static/Images/bernice.jpeg" width='200' alt="Dr. Bernice Rosenzweig" align="left" style="width:200px;height:200px;"></div>

      <div class="col-md-10">
           <h3> Dr. Bernice Rosenzweig </h3>
    <p>Bernice is a research associate with the Environmental Science Initiative at the CUNY ASRC. She earned her PhD in environmental engineering from Princeton University and has authored several publications regarding hydrology, metabolism, and resilience of local and regional-scale socio-eco-technical systems.
    Bernice manages the Trellis Bridge summer program for incoming transfer students to the City College of New York, where she teaches new students the foundations of data analysis, mapping software, and climate science. The objective of the Trellis program is to prepare community college transfer students for the rigors of a four-year university.
    Students from the Trellis program are encouraged to apply for fellowships funded by the NSF where students have the opportunity to work directly with professors conducting undergraduate research. One such fellowship has students studying directly under Bernice, studying climate science and implementing hardware for this roof-top personal weather-station.
    </p>

      </div>

  </div>

   <br><br>

  <div class="row">

      <div class="col-md-2"><img class="img-thumbnail" src="../static/Images/daniel.jpg" alt="Man Place Holder" align="left" style="width:200px;height:200px;"></div>
      <div class="col-md-10">
           <h3> Daniel Vignoles </h3>
              <p>Daniel, a student at CCNY, is the lead designer of this website and it’s data pipeline.
                  After graduating with a B.S. in computer science in 2020, Daniel aspires to work in the climate science field as a data scientist.
                  Daniel’s work on this project and many others can be found on his <a href="https://github.com/dvignoles" style="color:#0000EE;" target="_blank">Github.</a> </p>

      </div>


  </div>

   <br><br>

  <div class="row">
      <div class="col-md-2"><img class="img-thumbnail" src="../static/Images/shivron.jpeg" alt="Shivron Sugrim" align="left" style="width:200px;height:200px;"></div>
      <div class="col-md-10">

          <h3> Shivron Sugrim </h3>
    <p> Shivron is a mechanical engineering student tasked with deploying the Vantage Pro2+ weather station. Previous work entailed the set-up, trouble-shooting, ensuring wireless connectivity, and streamlining of data collection. Once set-up, the data collected needed to be displayed to the public through a dedicated website. A custom website was designed by creating our own HTLM/CSS templates to better highlight the importance of climate data. </p>
    <br>
    <p>
    Shivron is an aspiring aerospace engineer who aims to one day be involved in research or design of cutting-edge technology to send the people of our generation to Mars. Shivron graduates in December 2019 with a bachelor’s degree in mechanical engineering with a minor in math. With several years of research experience, he aims to use his skillset to further the advancement of technology related to the aerospace industry.
    </p>

      </div>

  </div>

</body>

</html>
{% endblock %}