<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
  <!-- Bootstrap core CSS -->
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-left">
        <li>
          <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
          <a href="{{ url_for('charts') }}">Charts</a>
        </li>
        <li>
          <a href="{{ url_for('records') }}">Records</a>
        </li>
        <li>
          <a href="{{ url_for('instruments') }}">Instruments</a>
        </li>
        <li>
          <a href="{{ url_for('about') }}">About</a>
        </li>



      </ul>
      <br>
      <hr>
    </nav>
  </div>
  {% block body %}
  <!--All templates that extend base render here-->
  {% endblock %}
  <div class="jumbotron">
    <footer class="footer">

      <img src="../static/Images/NSFlogoTrans.png" alt="National Science Foundation Logo" width="100">
      <img src="../static/Images/CUNY_blue.png" alt="City University of New York Logo" width="200">
      <img src="../static/Images/cuny-asrc-logo.png" alt="CUNY ASRC Logo">

      <p>
          This material is based upon work supported by the National Science Foundation under Grant No. DUE 1331063. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the authors and do not necessarily reflect the views of the National Science Foundation.
        <br>© 2019 Daniel Vignoles, Shivron Sugrim
        <br> CUNY Advanced Science Research Center
      </p>

    </footer>
  </div>
</div>
<!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="../static/js/bootstrap.min.js"></script>

</html>