<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template HERE-->
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-left">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('instruments') }}">Instruments</a></li>
          </ul>
          <br><hr>
        </nav>
      </div>
      {% block body %}
        <!--All templates that extend base render here-->
      {% endblock %}
      <footer class="footer">
        <p>
          © 2019 Daniel Vignoles, Shivron Sugrim
          <br>
          CUNY Advanced Science Research Center
        </p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
