{% extends "base.html" %} {% block title %}Charts{% endblock %} {% block body %}

<!DOCTYPE html>
<html>

<head>
  <title>Charts</title>
</head>

<body>
    
<div class="panel" align="center">

  <div class="panel-heading"><h2>Past 7 days around New York City</h2></div>

  <div class="panel-body">
      <div class="row">
          <div class="col-md-12">
                    <div id="temp" class="chart"></div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
                    <div id="humidity" class="chart"></div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
                    <div id="wind" class="chart"></div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
                    <div id="pressure" class="chart"></div>
          </div>
      </div>

  </div>

</div>
   



    
</body>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
  var graphs = {{temp_plot | safe}};
  Plotly.plot('temp',graphs,{});
</script>

<script type="text/javascript">
  var graphs = {{humidity_plot | safe}};
  Plotly.plot('humidity',graphs,{});
</script>

<script type="text/javascript">
  var graphs = {{wind_plot | safe}};
  Plotly.plot('wind',graphs,{});
</script>

<script type="text/javascript">
  var graphs = {{pressure_plot | safe}};
  Plotly.plot('pressure',graphs,{});
</script>

</html>
{% endblock %}