{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<!DOCTYPE html>
<html>

<head>

    <title>CUNY ASRC Weather Station</title>

</head>

<!-- Header Panel -->
<div class="jumbotron">
    <h2>CUNY ASRC Weather Station</h2>
        <p class="lead">Advanced Science Research Center
            <br>The Graduate Center
            <br>City University of New York

        </p>
</div>


<body>
    <!-- Recent ASRC Table -->
    <div class="panel" align="center">
        <div class="panel-heading">
            <h2>Recent Observations from ASRC</h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            {% for key in asrc_recent[0].keys() %}
                            <th> {{ key }}</th>
                            {% endfor %}
                        </tr>

                    </thead>
                    <tbody>
                        {% for row in asrc_recent %}
                        <tr>
                            {% for key,val in row.items() %}
                            <td>{{ val }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <br>
    </div>

    <!-- Today/Month Averages -->
    <div class="row">

        <!-- Today Averages -->
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading"><h2 align="center">{{today}}</h2></div>
                <div class="panel-body"><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>measurement</td>
                                        <th>High</th>
                                        <th>Low</th>
                                        <th>Average</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for var,hl_dic in asrc_today_avg.hl.items() %}
    
                                <tr>
                                    <td>
                                        <b>{{var}}</b>
                                    </td>
                                    <td>{{hl_dic.high}}</td>
                                    <td>{{hl_dic.low}}</td>
                                    <td>{{hl_dic.avg}}</td>
                                </tr>
    
                                {% endfor %}
    
                            </tbody>
                        </table>
    
                    </div></div>
                

            </div>

        </div>

        <!-- Month Averages -->
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading"><h2 align="center">{{month}}</h2></div>
                <div class="panel-body"><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>High</th>
                                    <th>Low</th>
                                    <th>Average</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for var,hl_dic in asrc_month_avg.hl.items() %}
    
                                <tr>
                                    <td>{{hl_dic.high}}</td>
                                    <td>{{hl_dic.low}}</td>
                                    <td>{{hl_dic.avg}}</td>
                                </tr>
    
                                {% endfor %}
                            </tbody>
                        </table>
    
                    </div></div>
                


            </div>

        </div>
    </div>


    <!-- Around NYC -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div style="text-align: center;">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              NYC Weather Station Map
            </button>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="well">
                <img src="../static/Images/nyc_stations.jpeg" class="img-responsive" alt="Responsive image">
              </div>
            </div>

        </div>
    </div>

    <div class="panel">
    <div class="panel-heading"><h2 align="center">Around NYC</h2></div>
       <div class="panel-body"><div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Variables</th>
                            <th>ASRC</th>
                            <th><a href="https://forecast.weather.gov/MapClick.php?lat=40.6651&lon=-73.7915" target="_blank">KJFK</a></th>
                            <th><a href="https://forecast.weather.gov/MapClick.php?lat=40.77917&lon=-73.88" target="_blank">KLGA</a></th>
                            <th><a href="https://flightaware.com/resources/airport/KJRB/weather" target="_blank">KJRB</a></th>
                            <th><a href="https://forecast.weather.gov/MapClick.php?lat=40.781578447688275&lon=-73.95051589748988" target="_blank">KNYC</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in nyc_current.items()%}
                        <tr>
                            <td><b>{{key}}</b></td>
                            <td>{{value.asrc}}</td>
                            <td>{{value.jfk}}</td>
                            <td>{{value.lga}}</td>
                            <td>{{value.jrb}}</td>
                            <td>{{value.nyc}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div></div>
        
    </div>



    <!-- Radar / Sat -->
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 align="center"><a href="https://radar.weather.gov/radar.php?rid=okx" target="_blank">Radar</a></h2>
                <img src="https://radar.weather.gov/ridge/lite/N0R/OKX_loop.gif" class="img-responsive">
                <p> Courtesy of the National Weather Service</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <h2 align="center"><a href="https://www.nesdis.noaa.gov/content/imagery-and-data" target="_blank">GOES-East Satellite</a></h2>
                <img src="https://cdn.star.nesdis.noaa.gov/GOES16/ABI/GIFS/GOES16-NE-GEOCOLOR-600x600.gif" class="img-responsive" align="middle">
                <P> Courtesy of National Oceanic and Atmospheric Administration</P>
            </div>
        </div>



    </div>

</body>

</html>
{% endblock %}