{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<!DOCTYPE html>
<html>

<head>

    <title>CUNY ASRC Weather Station</title>

</head>

<!-- Header Panel -->
<div class="jumbotron">
    <h2>CUNY ASRC Weather Station</h1>
        <p class="lead">City University of New York
            <br/>Advanced Science Research Center</p>
</div>


<body>
    <!-- Recent ASRC Table -->
    <div class="panel" align="center">
        <div class="panel-heading">
            <h2>Recent Observations from ASRC</h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            {% for key in asrc_recent[0].keys() %}
                            <th> {{ key }}</th>
                            {% endfor %}
                        </tr>

                    </thead>
                    <tbody>
                        {% for row in asrc_recent %}
                        <tr>
                            {% for key,val in row.items() %}
                            <td>{{ val }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <br>
    </div>

    <!-- Today/Month Averages -->
    <div class="row">

        <!-- Today Averages -->
        <div class="col-xs-6">
            <div class="panel">
                <div class="panel-heading"><h2 align="center">{{today}}</h2></div>
                <div class="panel-body"><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>measurement</td>
                                        <th>high</th>
                                        <th>low</th>
                                        <th>avg</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for var,hl_dic in asrc_today_avg.hl.items() %}
    
                                <tr>
                                    <td>
                                        <b>{{var}}</b>
                                    </td>
                                    <td>{{hl_dic.high}}</td>
                                    <td>{{hl_dic.low}}</td>
                                    <td>{{hl_dic.avg}}</td>
                                </tr>
    
                                {% endfor %}
    
                            </tbody>
                        </table>
    
                    </div></div>
                

            </div>

        </div>

        <!-- Month Averages -->
        <div class="col-xs-6">
            <div class="panel">
                <div class="panel-heading"><h2 align="center">{{month}}</h2></div>
                <div class="panel-body"><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>high</th>
                                    <th>low</th>
                                    <th>avg</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for var,hl_dic in asrc_month_avg.hl.items() %}
    
                                <tr>
                                    <td>{{hl_dic.high}}</td>
                                    <td>{{hl_dic.low}}</td>
                                    <td>{{hl_dic.avg}}</td>
                                </tr>
    
                                {% endfor %}
                            </tbody>
                        </table>
    
                    </div></div>
                


            </div>

        </div>
    </div>


    <!-- Around NYC -->
    <div class="panel">
        <div class="panel-heading"><h2 align="center">Current Conditions Around NYC</h2></div>
        <div class="panel-body"><div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Variables</th>
                            <th>ASRC</th>
                            <th>JFK</th>
                            <th>LGA</th>
                            <th>JRB</th>
                            <th>NYC</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in nyc_current.items()%}
                        <tr>
                            <td><b>{{key}}</b></td>
                            <td>{{value.asrc}}</td>
                            <td>{{value.jfk}}</td>
                            <td>{{value.lga}}</td>
                            <td>{{value.jrb}}</td>
                            <td>{{value.nyc}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div></div>
        
    </div>



    <!-- Radar / Sat -->
    <div class="row">
        <div class="col-xs-6">
            <div class="well">
                <h2 align="center">OKX Radar</h2>
                <img src="https://radar.weather.gov/ridge/lite/N0R/OKX_loop.gif" class="img-responsive">
                <p> Courtesy of the National Weather Service</p>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="well">
                <h2 align="center">GOES-East Satellite</h2>
                <img src="https://cdn.star.nesdis.noaa.gov/GOES16/ABI/GIFS/GOES16-NE-GEOCOLOR-600x600.gif" class="img-responsive" align="middle">
                <P> Courtesy of National Oceanic and Atmospheric Administration</P>
            </div>
        </div>



    </div>

</body>

</html>
{% endblock %}