{% extends "base.html" %} {% block title %}Records{% endblock %} {% block body %}

<!DOCTYPE html>
<html>

<head>

  <title>Records</title>

</head>

<body>

  <h1>Records</h1>
  <p class="lead">Records Page showcasing the highs and lows of 2019 aswell as historical highs and lows</p>
  <hr> </hr>
  <div class="box-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Variable</th>
          <th>Value</th>
          <th>Value SI</th>
          <th>2019</th>
          <th>All Time High</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Temperature High</td>
          <td>600</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Temperature Low</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Highest Heat Index</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Highest Wind Speed</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>

        <tr>
          <td>Prevailing Wind Direction</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Total Precipitation</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Lowest Wind Chill</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Highest Daily Rain Fall</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Highest Daily Rainfall Rate</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Consecutive Days with Rain</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Consecutive Days with Rainfall</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Consecutive Days without Rainfall</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Highest Humidity</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Lowest Humidity</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Highest Dewpoint</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Lowest Dewpoint</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Highest Pressure</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>
        <tr>
          <td>Lowest Pressure</td>
          <td>500</td>
          <td>7</td>
          <td>08 March</td>
          <td>5</td>
          <td>01 April 2001</td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- End Box-4-->
</body>

</html>
{% endblock %}