{% extends "base.html" %} {% block title %}Records{% endblock %} {% block body %}

<!DOCTYPE html>
<html>

<head>

  <title>Records</title>

</head>

<div class="panel" align="center">

  <div class="panel-heading">
    <h2>ASRC Weather Records</h2>
      <h3>March 14, 2019 - Present</h3>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>

          <tr>
            <th>Measurement</th>
            <th colspan="2">{{ today.year }}</th>
            <th colspan="2">All Time</th>
          </tr>
        </thead>

        <tbody>

          <!-- TEMP -->
          <div>
            <tr>
              <td><b>Highest Temperature (<span>&#176;</span>F)</td></b>
              <td>
                {{ year_records.temp_f.max[1] }}
              </td>
              <td>{{ year_records.temp_f.max[0] }}</td>

              <td>{{ alltime_records.temp_f.max[0] }}</td>

              <td>{{ alltime_records.temp_f.max[1] }}</td>
            </tr>

            <tr>
    
              <td><b>Lowest Temperature (<span>&#176;</span>F)</b></td>
              <td>
                {{ year_records.temp_f.min[1] }}
              </td>
              <td>{{ year_records.temp_f.min[0] }}</td>

              <td>{{ alltime_records.temp_f.min[0] }}</td>

              <td>{{ alltime_records.temp_f.min[1] }}</td>
            </tr>
          </div>

          <!-- Heat Index -->
          <div>
            <tr>
              <td><b>Highest Heat Index (<span>&#176;</span>F)</b></td>
              <td>
                {{ year_records.heat_index_f.max[1] }}
              </td>
              <td>{{ year_records.heat_index_f.max[0] }}</td>

              <td>{{ alltime_records.heat_index_f.max[0] }}</td>

              <td>{{ alltime_records.heat_index_f.max[1] }}</td>
            </tr>

            <tr>
              <td><b>Lowest Heast Index (<span>&#176;</span>F)</b></td>
              <td>
                {{ year_records.heat_index_f.min[1] }}
              </td>
              <td>{{ year_records.heat_index_f.min[0] }}</td>

              <td>{{ alltime_records.heat_index_f.min[0] }}</td>

              <td>{{ alltime_records.heat_index_f.min[1] }}</td>
            </tr>
          </div>

          <!-- Humidity -->
          <div>
            <tr>
              <td><b>Highest Relative Humidity</b></td>
              <td>
                {{ year_records.relative_humidity.max[1] }}
              </td>
              <td>{{ year_records.relative_humidity.max[0] }}</td>

              <td>{{ alltime_records.relative_humidity.max[0] }}</td>

              <td>{{ alltime_records.relative_humidity.max[1] }}</td>
            </tr>

            <tr>
              <td><b>Lowest Relative Humidty</b></td>
              <td>
                {{ year_records.relative_humidity.min[1] }}
              </td>
              <td>{{ year_records.relative_humidity.min[0] }}</td>

              <td>{{ alltime_records.relative_humidity.min[0] }}</td>

              <td>{{ alltime_records.relative_humidity.min[1] }}</td>
            </tr>
          </div>

          <!-- Dewpoint -->
          <div>
            <tr>
              <td><b>Highest Dewpoint (<span>&#176;</span>F)</b></td>
              <td>
                {{ year_records.dewpoint_f.max[1] }}
              </td>
              <td>{{ year_records.dewpoint_f.max[0] }}</td>

              <td>{{ alltime_records.dewpoint_f.max[0] }}</td>

              <td>{{ alltime_records.dewpoint_f.max[1] }}</td>
            </tr>

            <tr>
              <td><b>Lowest Dewpoint (<span>&#176;</span>F)</b></td>
              <td>
                {{ year_records.dewpoint_f.min[1] }}
              </td>
              <td>{{ year_records.dewpoint_f.min[0] }}</td>

              <td>{{ alltime_records.dewpoint_f.min[0] }}</td>

              <td>{{ alltime_records.dewpoint_f.min[1] }}</td>
            </tr>
          </div>

          <!-- Windchill -->
          <div>
            <tr>
              <td><b>Lowest Windchill (<span>&#176;</span>F)</b></td>
              <td>
                {{ year_records.windchill_f.min[1] }}
              </td>
              <td>{{ year_records.windchill_f.min[0] }}</td>

              <td>{{ alltime_records.windchill_f.min[0] }}</td>

              <td>{{ alltime_records.windchill_f.min[1] }}</td>
            </tr>
          </div>

          <!-- Wind Speed-->
          <div>
            <tr>
              <td><b>Highest Wind Speed (kn)</b></td>
              <td>
                {{ year_records.wind_kt.max[1] }}
              </td>
              <td>{{ year_records.wind_kt.max[0] }}</td>

              <td>{{ alltime_records.wind_kt.max[0] }}</td>

              <td>{{ alltime_records.wind_kt.max[1] }}</td>
            </tr>
          </div>

          <!-- Pressure -->
          <div>
            <tr>
              <td><b>Highest Pressure (mb)</b></td>
              <td>
                {{ year_records.pressure_mb.max[1] }}
              </td>
              <td>{{ year_records.pressure_mb.max[0] }}</td>

              <td>{{ alltime_records.pressure_mb.max[0] }}</td>

              <td>{{ alltime_records.pressure_mb.max[1] }}</td>
            </tr>

            <tr>
              <td><b>Lowest Pressure (mb)</b></td>
              <td>
                {{ year_records.pressure_mb.min[1] }}
              </td>
              <td>{{ year_records.pressure_mb.min[0] }}</td>

              <td>{{ alltime_records.pressure_mb.min[0] }}</td>

              <td>{{ alltime_records.pressure_mb.min[1] }}</td>
            </tr>
          </div>

          <!-- Rain -->
          <div>
            <tr>
              <td><b>Highest Daily Rain Total (in)</b></td>
              <td>
                {{ year_records.rain_day_in.max[1] }}
              </td>
              <td>{{ year_records.rain_day_in.max[0].date() }}</td>

              <td>{{ alltime_records.rain_day_in.max[0].date() }}</td>

              <td>{{ alltime_records.rain_day_in.max[1] }}</td>
            </tr>
          </div>

          <!-- Solar Radiation -->
          <div>
            <tr>
              <td><b>Highest Solar Radiation (W/m<sup>2</sup>)</b></td>
              <td>
                {{ year_records.solar_radiation.max[1] }}
              </td>
              <td>{{ year_records.solar_radiation.max[0] }}</td>

              <td>{{ alltime_records.solar_radiation.max[0] }}</td>

              <td>{{ alltime_records.solar_radiation.max[1] }}</td>
            </tr>
          </div>
          <!-- UV Index -->

          <div>
            <tr>
              <td><b>Highest UV Index</b></td>
              <td>
                {{ year_records.uv_index.max[1] }}
              </td>
              <td>{{ year_records.uv_index.max[0] }}</td>

              <td>{{ alltime_records.uv_index.max[0] }}</td>

              <td>{{ alltime_records.uv_index.max[1] }}</td>
            </tr>
          </div>

        </tbody>

      </table>
    </div>
  </div>
</div>



</html>
{% endblock %}